{% extends 'admin/base.html.twig' %}

{% block title %} AdminBookingController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5"> Gestion des annonces </h1>
w
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Durée</th>
                <th>Visiteur</th>
                <th class="text-center">annonces</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>   
        </thead>
    
    <tbody>
    {% for booking in booking %}
    <tr>
        <td>{{booking.id}}</td>
        <td>{{booking.startdate |date("d/m/Y")}}</td>
        <td>{{booking.enddate |date("d/m/Y")}}</td>
        <td>{{ booking.getDuration() }}</td>
        <td>{{booking.booker.fullname}}
        </td>
        <th class="text-center">{{booking.ad.title}}</td>
        <td>{{booking.amount}}€</td>
        <td>
        <a href="{{ path('admin_booking_edit', {'id': booking.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
        <a href="{{ path('admin_booking_delete', {'id': booking.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
   </table>     
</div>
{% endblock %}
